@model IEnumerable<Livraria.Models.Entities.Livro>
@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h2>Confira o que há de melhor em nossa livraria online. Ela é sua, fique à vontade!</h2>

    <p>
        Na livraria Lumina procuramos oferecer o que há de melhor em literatura, biografias, manuais, entre outros. Somos apaixonados por leitura e sabemos que ela abre a imaginação
        e nos trás sabedoria.

        Confira abaixo alguns exemplos. Cria sua conta e tenha acesso aos conteúdos 100% gratuítos.
    </p>

    @{
        int iContador = 0;

        foreach (var item in Model)
        {
            if (iContador > 10)
            {
                break;
            }
            else
            {
                <div class="card" style="width: 18rem; display: inline-grid; margin-right:15%; padding: 30px 40px;">
                    <img class="card-img-top" src="https://lojasaraiva.vteximg.com.br/arquivos/ids/9214541-287-426/1006572913.jpg?v=637103902618330000" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">@item.LivroNome</h5>
                        <p class="card-text">Código do livro - 000 @item.LivroId</p>
                        <p class="card-text">@item.LivroSinopse</p>
                        <p class="card-text">Preço R$ - @item.LivroPreco</p>
                        <p class="card-text">Ano de publicação - @item.LivroAnoPublicacao</p>
                        <p class="card-text">Editora - @item.LivroEditora</p>
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>

                iContador++;
            }

        }
    }
</div>
